<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/echarts.min.js"></script>
    <script src="/assets/js/china.js"></script>
    <!-- /# content wrap -->
    <script src="/assets/js/lib/jquery.min.js"></script>

    <!-- jquery vendor -->
    <script src="/assets/js/lib/jquery.nanoscroller.min.js"></script>
</head>

<body>

	<!--左部导航栏-->
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
            	
                <ul>

                    <li><a href="/visitor"><i class="ti-user"></i> 游客大数据</a></li>
                    <li><a href="/Good/DataShow"><i class="ti-view-list-alt"></i>产品大数据</a></li>
                    <li><a href="http://localhost:8084/index"><i class="ti-layout-grid2-alt"></i> 路线组合</a></li>
                    <li><a href="http://localhost:8084/keywords"><i class="ti-layout"></i> 景点推荐 </a></li>

                </ul>

            </div>
        </div>
    </div>
    <!--左部导航栏-->
    <!---->

    <!-- /# sidebar -->
    <div class="header">

    	<!--左上角图表LOGO-->
        <div class="pull-left">
            <div class="logo">
                <a href="index.html">
                    <img id="logoImg" src="/logo/logo1.png"  />
                </a>
            </div>
            <div class="hamburger sidebar-toggle">
                <span class="ti-menu"></span>
            </div>
        </div>
  
    </div>
    <!--头部div-->


    <!--新开始-->
    <!-- END chat Sidebar-->
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">

                <!--头顶的垃圾-->
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">

                                    <li><a href="/Good/DataShow" id="gengxin">更新</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <!--头顶的垃圾-->
                </div>


                <!-- /# row -->
                <div class="main-content">
       
                    <!-- /# row  1行放2个图 -->
                    <div class="row" >

                    	<!--第1个图-->
                        <div class="col-lg-6" style="width: 100%">
                            <div class="card alert" style="width: 100%" >
                                <div class="card-header" >
                                    <h4>趋势图 </h4>
                                    <div class="card-header-right-icon">
                                        <ul>
                                            <!-- <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> -->
                                            <!--<li class="card-collapse"><i class="fa fa-window-restore"></i></li>-->
                                        </ul>
                                    </div>
                                </div>

                                <!--第一个图 核心部分 替换该部分即可-->
                                <div class="sales-chart  card-content" >
                                    <div id="goodData" style="width: 100%; height: 300%; display: block;">
                                    	
                                    	<script type="text/javascript">
									        // 基于准备好的dom，初始化echarts实例
									        var myChart = echarts.init(document.getElementById('goodData'));
                                            var XName= [];
                                            var data1 = [];
                                            var sousuo=[];
                                            var watch=[];
                                            var searchdata=[]
                                            var watchdata=[]

                                            //数据
                                            $.ajax({
                                                url: '/Good/GetAllDataForShow',
                                                type: 'GET',     // 请求类型，常用的有 GET 和 POST
                                                data: {
                                                    // 请求参数

                                                },
                                                success: function (data) { // 接口调用成功回调函数
                                                    var i=0;

                                                    watchdata=data["watchdata"]
                                                    searchdata=data["searchdata"]


                                                    for(i=0;i<searchdata.length;i++)
                                                    {
                                                        XName.push(searchdata[i].month+"月份")
                                                        sousuo.push(searchdata[i].searchNum)
                                                        watch.push(watchdata[i].searchNum)
                                                    }

                                                    data1.push(sousuo);
                                                    data1.push(watch);
                                                    //暂停
                                                    var Line = ["搜索","浏览"];
                                                    var color =['#00f8ff','#00f15a'];

                                                    //数据处理
                                                    var datas = [];
                                                    Line.map((item,index) => {
                                                        datas.push(
                                                        {
                                                            symbolSize: 15,
                                                            symbol: 'circle',
                                                            name: item,
                                                            type: "line",
                                                            yAxisIndex: 1,
                                                            data: data1[index] ,
                                                            itemStyle: {
                                                                normal: {
                                                                    borderWidth: 5,
                                                                    color: color[index],
                                                                    label : {show: true}
                                                                }
                                                            }
                                                        }
                                                    )
                                                });

                                                    option = {
                                                        backgroundColor: '#fff',
                                                        grid: {
                                                            left: '5%',
                                                            top: '5%',
                                                            bottom: '10%',
                                                            right: '5%',
                                                        },
                                                        legend: {
                                                            type: "scroll",
                                                            data:Line,
                                                            itemWidth:18,
                                                            itemHeight:12,
                                                            textStyle: {
                                                                color:"#808080",
                                                                fontSize:14
                                                            },
                                                        },
                                                        yAxis: [
                                                            {
                                                                type: 'value',
                                                                position: 'right',
                                                                splitLine: {
                                                                    show: false
                                                                }
                                                                ,
                                                                axisLine: {
                                                                    show: false
                                                                },
                                                                axisTick: {
                                                                    show: false
                                                                },
                                                                axisLabel: {
                                                                    show: false
                                                                }
                                                            },
                                                            {
                                                                type: 'value',
                                                                position: 'left',
                                                                nameTextStyle: {
                                                                    color: '#00FFFF'
                                                                },
                                                                splitLine: {
                                                                    lineStyle: {
                                                                        type: 'dashed',
                                                                        color: 'rgba(135,140,147,0.8)'
                                                                    }
                                                                },
                                                                axisLine: {
                                                                    show: false
                                                                },
                                                                axisTick: {
                                                                    show: false
                                                                },
                                                                axisLabel: {
                                                                    formatter: '{value}',
                                                                    color: '#808080',
                                                                    fontSize: 15
                                                                }
                                                            },
                                                        ],
                                                        xAxis: [
                                                            {
                                                                type: 'category',
                                                                axisTick: {
                                                                    show: false
                                                                },
                                                                axisLine: {
                                                                    show: false,
                                                                    lineStyle: {
                                                                        color: '#6A989E',
                                                                    }
                                                                },
                                                                axisLabel: {
                                                                    inside: false,
                                                                    textStyle: {
                                                                        color: '#808080',// x轴颜色
                                                                        fontWeight: 'normal',
                                                                        fontSize: '15',
                                                                        lineHeight: 22
                                                                    }

                                                                },
                                                                data: XName,
                                                            },
                                                            {
                                                                type: 'category',
                                                                axisLine: {
                                                                    show: false
                                                                },
                                                                axisTick: {
                                                                    show: false
                                                                },
                                                                axisLabel: {
                                                                    show: false
                                                                },
                                                                splitArea: {
                                                                    show: false
                                                                },
                                                                splitLine: {
                                                                    show: false
                                                                },
                                                                //-----
                                                                data: XName,
                                                            },
                                                        ],
                                                        series: datas,
                                                    };

                                                    // 使用刚指定的配置项和数据显示图表。
                                                    myChart.setOption(option);
                                                }
                                            });

									    </script>	
                                    </div>
                                </div>
                                <!--第一个图 核心部分 替换该部分即可-->

                            </div>           
                        </div>
                        <!--第1个图-->

                       
                    </div>

                    <div class="row">

                        <!--第一个图表-->
                        <div class="col-lg-6">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>热门城市 </h4>
                                    <div class="card-header-right-icon">
                                        <ul>
                                            <!--暂时为空-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                     <table  class="table table-responsive table-striped">
                                         <thead>
                                         <tr>
                                             <th>序号</th>
                                             <th>名称</th>
                                             <th>热度</th>
                                         </tr>
                                         </thead>
                                         <tbody id="sousuotable">
                                         <script type="text/javascript">

                                             var tbody=window.document.getElementById('sousuotable')
                                             $.ajax({
                                                 url: '/Good/GetSearchRankDataForShow',
                                                 type: 'GET',     // 请求类型，常用的有 GET 和 POST
                                                 data: {
                                                     // 请求参数

                                                 },
                                                 success: function (data) { // 接口调用成功回调函数
                                                     // console.log(data)
                                                     var str="";
                                                     for (i in data) {

                                                         str += "<tr>" +
                                                             "<th scope=\"row\">" + data[i].id + "</th>" +
                                                             "<td >" + data[i].name + "</td>" +
                                                             "<td >" + data[i].num + "</td>"
                                                         "</tr>";
                                                     }
                                                     tbody.innerHTML = str;

                                                 }
                                             })
                                         </script>
                                         </tbody>
                                    </table>


                                </div>
                            </div>
                        </div><!-- /# column -->

                        <div class="col-lg-6">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>热门产品 </h4>
                                    <div class="card-header-right-icon">
                                        <ul>
                                            <!--暂时为空-->
                                             
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>名称</th>
                                              
                                                <th>热度</th>
                                            </tr>
                                        </thead>
                                        <tbody id="watchtable">
                                        <script type="text/javascript">

                                            var watchtable=window.document.getElementById('watchtable')
                                            $.ajax({
                                                url: '/Good/GetWatchRankDataForShow',
                                                type: 'GET',     // 请求类型，常用的有 GET 和 POST
                                                data: {
                                                    // 请求参数

                                                },
                                                success: function (data) { // 接口调用成功回调函数
                                                    // console.log(data)
                                                    var str="";
                                                    for (i in data) {

                                                        str += "<tr>" +
                                                            "<th scope=\"row\">" + data[i].id + "</th>" +
                                                            "<td >" + data[i].name + "</td>" +
                                                            "<td >" + data[i].num + "</td>"
                                                        "</tr>";
                                                    }
                                                    watchtable.innerHTML = str;

                                                }
                                            })
                                        </script>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- /# column -->

                    </div>
                    

                       

             
         </div>
         <!-- /# row -->
     <!-- /# main content -->Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
 </div>
 <!-- /# container-fluid -->
</div>
<!-- /# main -->
</div>

<!-- nano scroller -->
<script src="/assets/js/lib/sidebar.js"></script>
<!-- sidebar -->
<script src="/assets/js/lib/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="/assets/js/lib/mmc-common.js"></script>
<script src="/assets/js/lib/mmc-chat.js"></script>
<!--  Chart js -->
<script src="/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/assets/js/lib/chart-js/chartjs-init.js"></script>
<!-- // Chart js -->
<!--  Datamap -->
<script src="/assets/js/lib/datamap/d3.min.js"></script>
<script src="/assets/js/lib/datamap/topojson.js"></script>
<script src="/assets/js/lib/datamap/datamaps.world.min.js"></script>
<script src="/assets/js/lib/datamap/datamap-init.js"></script>
<script src="/assets/lib/lobipanel/js/lobipanel.js"></script>
<!-- // Datamap -->
<!--<script src="/assets/js/scripts.js"></script>-->
<!-- scripit init-->
<script>
    $(document).ready(function() {
        $('#lobipanel-custom-control').lobiPanel({
            reload: false,
            close: false,
            editTitle: false
        });
    });


    $(function(){

        // test 的点击事件
        $("#gengxin").click(function(){



            $.ajax({
                url: '/Good/UpDateSeachByTime',
                type: 'GET',     // 请求类型，常用的有 GET 和 POST
                aysc:true,
                data: {
                    // 请求参数
                },
                success: function (data) { // 接口调用成功回调函数
                }
            });

            $.ajax({
                url: '/Good/UpDateWatchByTime',
                type: 'GET',     // 请求类型，常用的有 GET 和 POST
                aysc:true,
                data: {
                    // 请求参数
                },
                success: function (data) { // 接口调用成功回调函数
                }
            });
        //
        $.ajax({
            url: '/Good/UpdateSearchRankData',
            type: 'GET',     // 请求类型，常用的有 GET 和 POST
            aysc:true,
            data: {
                // 请求参数
            },
            success: function (data) { // 接口调用成功回调函数
            }
        })
    });
    })


    //

</script>
</body>

</html>