<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/lib/mmc-chat.css" rel="stylesheet"/>
    <link href="/assets/css/lib/sidebar.css" rel="stylesheet">
    <link href="/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="/assets/lib/lobipanel/css/lobipanel.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/echarts.min.js"></script>
    <script src="/assets/js/china.js"></script>

    <script src="/assets/js/lib/jquery.min.js"></script>
    <script src="/assets/js/lib/jquery.nanoscroller.min.js"></script>
</head>

<body>

<!--左部导航栏-->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">

            <ul>

                <li><a href="/visitor"><i class="ti-user"></i> 游客大数据</a></li>
                <li><a href="/Good/DataShow"><i class="ti-view-list-alt"></i>产品大数据</a></li>
                <li><a href="http://localhost:8084/index"><i class="ti-layout-grid2-alt"></i> 路线组合</a></li>
                <li><a href="http://localhost:8084/keywords"><i class="ti-layout"></i> 景点推荐 </a></li>
                <li><a href="/register"><i class="ti-plus"></i> 注册用户 </a></li>
                <li><a href="/resetPSW"><i class="ti-cut"></i> 修改密码 </a></li>
                <li><a href="/logout"><i class="ti-back-right"></i> 退出登录 </a></li>
            </ul>

        </div>
    </div>
</div>
<!--左部导航栏-->
<!---->

<!-- /# sidebar -->
<div class="header">

    <!--左上角图表LOGO-->
    <div class="pull-left">
        <div class="logo">
            <a href="index.html">
                <img id="logoImg" src="/logo/logo.png" data-logo_big="/logo/logo.png"
                     data-logo_small="logo/logoSmall.png"
                     alt="Nixon"/>
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <!--左上角图表LOGO-->
    <!---->
</div>
<!--头部div-->


<!--新开始-->
<!-- END chat Sidebar-->
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">

            <!--头顶的垃圾-->
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li class="active">Home</li>
                                <li><a href="/refreshVisitor">更新</a> </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <!--头顶的垃圾-->
            </div>


            <!-- /# row -->
            <div class="main-content">

                <!--                /# row 1行放2个图-->
                <div class="row">
                    <!--      图1             -->
                    <div class="col-lg-6">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>当前月访问设备来源统计</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <!-- <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li> -->
                                        <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <!--第一个图 核心部分 替换该部分即可-->
                            <div class="sales-chart  card-content">
                                <div id="dianji" style="width: 100%; height: 400%; display: block;">
                                    <script type="text/javascript">
                                        // 基于准备好的dom，初始化echarts实例
                                        var myChart1 = echarts.init(document.getElementById('dianji'));
                                        var datas = [];
                                        $.ajax({
                                            url: "/api/getCurrentFMData",
                                            type: "get",
                                            dataType: "json",
                                            success: function (data) {
                                                var year = data['year'];
                                                var month = data['month'];
                                                datas.push({'name': "PC", "value": data['pc']});
                                                datas.push({'name': "小程序", "value": data['mp']});
                                                datas.push({'name': "一体机", 'value': data['im']});
                                                console.log(datas);
                                                option = {
                                                    color: ["#EAEA26", "#FE5656", "#01E17E"],
                                                    grid: {
                                                        left: -100,
                                                        top: 50,
                                                        bottom: 10,
                                                        right: 10,
                                                        containLabel: true
                                                    },
                                                    tooltip: {
                                                        trigger: 'item',
                                                        formatter: "{b} : {c} ({d}%)"
                                                    },
                                                    legend: {
                                                        type: "scroll",
                                                        orient: "vartical",
                                                        // x: "right",
                                                        top: "top",
                                                        right: "15",
                                                        itemWidth: 20,
                                                        itemHeight: 10,
                                                        itemGap: 16,
                                                        textStyle: {
                                                            color: '#A3E2F4',
                                                            fontSize: 12,
                                                            fontWeight: 0
                                                        },
                                                        data: ['PC', '小程序', '一体机']
                                                    },
                                                    polar: {},
                                                    angleAxis: {
                                                        interval: 1,
                                                        type: 'category',
                                                        data: [],
                                                        z: 10,
                                                        axisLine: {
                                                            show: false,
                                                            lineStyle: {
                                                                color: "#0B4A6B",
                                                                width: 1,
                                                                type: "solid"
                                                            },
                                                        },
                                                        axisLabel: {
                                                            interval: 0,
                                                            show: true,
                                                            color: "#0B4A6B",
                                                            margin: 8,
                                                            fontSize: 16
                                                        },
                                                    },
                                                    radiusAxis: {
                                                        min: 40,
                                                        max: 120,
                                                        interval: 20,
                                                        axisLine: {
                                                            show: false,
                                                            lineStyle: {
                                                                color: "#0B3E5E",
                                                                width: 1,
                                                                type: "solid"
                                                            },
                                                        },
                                                        axisLabel: {
                                                            formatter: '{value} %',
                                                            show: false,
                                                            padding: [0, 0, 20, 0],
                                                            color: "#0B3E5E",
                                                            fontSize: 16
                                                        },
                                                        splitLine: {
                                                            lineStyle: {
                                                                color: "#0B3E5E",
                                                                width: 2,
                                                                type: "solid"
                                                            }
                                                        }
                                                    },
                                                    calculable: true,
                                                    series: [{
                                                        type: 'pie',
                                                        radius: ["5%", "10%"],
                                                        hoverAnimation: false,
                                                        labelLine: {
                                                            normal: {
                                                                show: false,
                                                                length: 30,
                                                                length2: 55
                                                            },
                                                            emphasis: {
                                                                show: false
                                                            }
                                                        },
                                                        data: [{
                                                            name: '',
                                                            value: 0,
                                                            itemStyle: {
                                                                normal: {
                                                                    color: "#0B4A6B"
                                                                }
                                                            }
                                                        }]
                                                    }, {
                                                        type: 'pie',
                                                        radius: ["90%", "95%"],
                                                        hoverAnimation: false,
                                                        labelLine: {
                                                            normal: {
                                                                show: false,
                                                                length: 30,
                                                                length2: 55
                                                            },
                                                            emphasis: {
                                                                show: false
                                                            }
                                                        },
                                                        name: "",
                                                        data: [{
                                                            name: '',
                                                            value: 0,
                                                            itemStyle: {
                                                                normal: {
                                                                    color: "#0B4A6B"
                                                                }
                                                            }
                                                        }]
                                                    }, {
                                                        stack: 'a',
                                                        type: 'pie',
                                                        radius: ['20%', '80%'],
                                                        roseType: 'area',
                                                        zlevel: 10,
                                                        label: {
                                                            normal: {
                                                                show: true,
                                                                formatter: "{c}",
                                                                textStyle: {
                                                                    fontSize: 12,
                                                                },
                                                                position: 'outside'
                                                            },
                                                            emphasis: {
                                                                show: true
                                                            }
                                                        },
                                                        labelLine: {
                                                            normal: {
                                                                show: true,
                                                                length: 20,
                                                                length2: 55
                                                            },
                                                            emphasis: {
                                                                show: false
                                                            }
                                                        },
                                                        data: datas,
                                                    },]
                                                }
                                                myChart1.setOption(option);
                                            }

                                        });


                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>注册用户来源城市热门统计</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                        <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <!--第2个图 核心部分 替换该部分即可-->
                            <div class="sales-chart  card-content">
                                <div id="shoucang" style="width: 100%; height: 400%; display: block;">

                                    <script type="text/javascript">
                                        var myChart2 = echarts.init(document.getElementById('shoucang'));
                                        data2 = []
                                        $.ajax(
                                            {
                                                url: "/api/getUserCityStatistics",
                                                type: 'get',
                                                dataType: 'json',
                                                success: function (datas) {
                                                    for (var i = 0; i < datas.length; i++) {
                                                        var item = datas[i];
                                                        data2.push({'name': item['name'], 'value': item['number']});
                                                    }
                                                    var colors = ['#f36119', '#ff9921', '#20c8ff', '#2cb7ff', '#1785ef'];
                                                    var url = 'https://q.cnblogs.com/Images/qdigg.gif';
                                                    option = {

                                                        backgroundColor: '#ffffff',
                                                        color: colors,
                                                        "tooltip": {
                                                            "trigger": "axis",
                                                            "axisPointer": {
                                                                "type": "cross",
                                                                "label": {
                                                                    "backgroundColor": "red"
                                                                },
                                                                "lineStyle": {
                                                                    "color": "#9eb2cb"
                                                                }
                                                            }
                                                        },
                                                        "grid": {
                                                            "top": 20,
                                                            "left": "2%",
                                                            "right": 20,
                                                            "bottom": 30,
                                                            "containLabel": true,
                                                            "borderWidth": 0.5
                                                        },

                                                        series: [
                                                            {
                                                                top: 0,
                                                                type: 'funnel',
                                                                left: '10%',
                                                                width: '80%',
                                                                gap: 16,
                                                                minSize: 150,
                                                                maxSize: 410,
                                                                label: {
                                                                    show: true,
                                                                    position: 'inside',
                                                                    formatter: '{b}  ({c})'
                                                                },
                                                                data: data2
                                                            },

                                                        ]
                                                    };
                                                    myChart2.setOption(option);

                                                }

                                            }
                                        );


                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--第二行开始-->
                <div class="row">
                    <!--                    第3个图-->
                    <div class="col-lg-6">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>最近一年浏览游客统计</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                        <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
                                    </ul>
                                </div>
                            </div>


                            <!--第3个图 核心部分 替换该部分即可-->
                            <div class="sales-chart  card-content">
                                <div id="echar3" style="width: 100%; height: 400%; display: block;">

                                    <script type="text/javascript" th:inline="javascript">
                                        // 基于准备好的dom，初始化echarts实例
                                        var myChart3 = echarts.init(document.getElementById('echar3'));
                                        var xData = [];
                                        var mNum = [];
                                        var wNum = [];
                                        var total = [];
                                        $.ajax(
                                            {
                                                url: "/api/getGenderStatistics",
                                                type: "get",
                                                dataType: "json",
                                                success: function (data) {
                                                    for (var i = 0; i < data.length; i++) {
                                                        var item = data[i];
                                                        xData.push((item['year'].toString() + "-" + item['month'].toString()));
                                                        mNum.push(item['manNum']);
                                                        wNum.push(item['womenNum']);
                                                        total.push(item['total']);

                                                    }
                                                    option = {
                                                        'tooltip': {
                                                            "trigger": "axis",
                                                            "axisPointer": {
                                                                "type": "shadow",
                                                                textStyle: {
                                                                    color: "#fff"
                                                                }
                                                            },
                                                        },
                                                        "grid": {
                                                            "borderWidth": 0,
                                                            "top": 110,
                                                            "bottom": 95,
                                                            textStyle: {
                                                                color: "#fff"
                                                            }
                                                        },
                                                        "legend": {
                                                            x: "4%",
                                                            top: '11%',
                                                            textStyle: {
                                                                color: '#90979c',
                                                            },
                                                            "data": ["男", "女", "总人数"]
                                                        },

                                                        "calculable": true,

                                                        xAxis: [{
                                                            'type': 'category',

                                                            data: xData,
                                                            'splitLine': {
                                                                'show': false
                                                            },
                                                            axisTick: {
                                                                show: false
                                                            },
                                                            "splitArea": {
                                                                "show": false
                                                            },
                                                            axisLine: {
                                                                lineStyle: {
                                                                    color: '#90979c'
                                                                }
                                                            },
                                                        }],
                                                        yAxis: [{
                                                            "type": "value",
                                                            "splitLine": {
                                                                "show": false
                                                            },
                                                            "axisLine": {
                                                                lineStyle: {
                                                                    color: "#90979c"
                                                                }
                                                            },
                                                            "axisTick": {
                                                                "show": false
                                                            },
                                                            axisLabel: {
                                                                "interval": 0,
                                                            },
                                                            "splitArea": {
                                                                "show": false
                                                            },

                                                        }],
                                                        dataZoom: [
                                                            {   // 这个dataZoom组件，默认控制x轴。
                                                                type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                                                                start: 10,      // 左边在 10% 的位置。
                                                                end: 60         // 右边在 60% 的位置。
                                                            },
                                                            {   // 这个dataZoom组件，也控制x轴。
                                                                type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                                                                start: 10,      // 左边在 10% 的位置。
                                                                end: 60         // 右边在 60% 的位置。
                                                            }
                                                        ],
                                                        series: [

                                                            {
                                                                "name": "男",
                                                                'type': 'bar',
                                                                'stack': '总量',
                                                                'barMaxWidth': 35,
                                                                'barGap': '10%',
                                                                'itemStyle': {
                                                                    'normal': {
                                                                        'color': 'rgba(255,144,128,1)',
                                                                        'label': {
                                                                            'show': true,
                                                                            'textStyle': {
                                                                                'color': "#fff"
                                                                            },
                                                                            'position': 'insideTop',
                                                                            formatter: function (p) {
                                                                                return p.value > 0 ? (p.value) : "";
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                'data': mNum,
                                                            },

                                                            {
                                                                "name": "女",
                                                                'type': 'bar',
                                                                'stack': '总量',
                                                                'barMaxWidth': 35,
                                                                'barGap': '10%',
                                                                'itemStyle': {
                                                                    'normal': {
                                                                        'color': 'rgba(0,191,183,1)',
                                                                        'label': {
                                                                            'show': true,
                                                                            'textStyle': {
                                                                                'color': "#fff"
                                                                            },
                                                                            'position': 'insideTop',
                                                                            formatter: function (p) {
                                                                                return p.value > 0 ? (p.value) : "";
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                'data': wNum,
                                                            },

                                                            {
                                                                "name": "总人数",
                                                                'type': 'line',
                                                                'stack': '总量',
                                                                symbolSize: 10,
                                                                symbol: 'circle',
                                                                'itemStyle': {
                                                                    'normal': {
                                                                        'color': 'rgba(252,230,48,1)',
                                                                        'label': {
                                                                            'show': true,
                                                                            'textStyle': {
                                                                                'color': "#b21e1e"
                                                                            },
                                                                            'position': 'insideTop',
                                                                            formatter: function (p) {
                                                                                return p.value > 0 ? (p.value) : "";
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                'data': total,
                                                            },

                                                        ]
                                                    }

                                                    // 使用刚指定的配置项和数据显示图表。
                                                    myChart3.setOption(option);

                                                },

                                            }
                                        );

                                    </script>


                                </div>
                            </div>

                        </div>
                    </div>


                    <!--                    第4个图-->
                    <div class="col-lg-6">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>当前月浏览游客来源归属统计</h4>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                        <li class="card-collapse"><i class="fa fa-window-restore"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <!--第4个图 核心部分 替换该部分即可-->
                            <div class="sales-chart  card-content">
                                <div id="echar4" style="width: 100%; height: 400%; display: block;">

                                    <script type="text/javascript">
                                        // 基于准备好的dom，初始化echarts实例
                                        var myChart4 = echarts.init(document.getElementById('echar4'));
                                        data = []
                                        $.ajax(
                                            {
                                                url: "/api/getProvinceStatistics",
                                                type: 'get',
                                                dataType: 'json',
                                                success: function (values) {
                                                    for (var i = 0; i < values.length; i++) {
                                                        var item = values[i];
                                                        data.push({'name': item['provinceName'], "value": item['sum']});
                                                    }
                                                    var yData = [];
                                                    var barData = [];

                                                    for (var i = 0; i < 10; i++) {
                                                        barData.push(data[i]);
                                                        yData.push(i + data[i].name);
                                                    }

                                                    var option = {
                                                        title: [{
                                                            show: true,
                                                            text: '排名情况',
                                                            textStyle: {
                                                                color: '#2D3E53',
                                                                fontSize: 18
                                                            },
                                                            right: 180,
                                                            top: 100
                                                        }],
                                                        tooltip: {
                                                            show: true,
                                                            formatter: function (params) {
                                                                return params.name + '：' + params.data['value']
                                                            },
                                                        },
                                                        visualMap: {
                                                            type: 'continuous',
                                                            orient: 'horizontal',
                                                            itemWidth: 10,
                                                            itemHeight: 80,
                                                            text: ['高', '低'],
                                                            showLabel: true,
                                                            seriesIndex: [0],
                                                            min: 0,
                                                            max: 40,
                                                            inRange: {
                                                                color: ['#6FCF6A', '#FFFD64', '#FF5000']
                                                            },
                                                            textStyle: {
                                                                color: '#7B93A7'
                                                            },
                                                            bottom: 30,
                                                            left: 'left',
                                                        },
                                                        grid: {
                                                            right: 10,
                                                            top: 135,
                                                            bottom: 100,
                                                            width: '20%'
                                                        },
                                                        xAxis: {
                                                            show: false
                                                        },
                                                        yAxis: {
                                                            type: 'category',
                                                            inverse: true,
                                                            nameGap: 16,
                                                            axisLine: {
                                                                show: false,
                                                                lineStyle: {
                                                                    color: '#ddd'
                                                                }
                                                            },
                                                            axisTick: {
                                                                show: false,
                                                                lineStyle: {
                                                                    color: '#ddd'
                                                                }
                                                            },
                                                            axisLabel: {
                                                                interval: 0,
                                                                margin: 85,
                                                                textStyle: {
                                                                    color: '#455A74',
                                                                    align: 'left',
                                                                    fontSize: 14
                                                                },
                                                                rich: {
                                                                    a: {
                                                                        color: '#fff',
                                                                        backgroundColor: '#FAAA39',
                                                                        width: 20,
                                                                        height: 20,
                                                                        align: 'center',
                                                                        borderRadius: 2
                                                                    },
                                                                    b: {
                                                                        color: '#fff',
                                                                        backgroundColor: '#4197FD',
                                                                        width: 20,
                                                                        height: 20,
                                                                        align: 'center',
                                                                        borderRadius: 2
                                                                    }
                                                                },
                                                                formatter: function (params) {
                                                                    if (parseInt(params.slice(0, 1)) < 3) {
                                                                        return [
                                                                            '{a|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' + params.slice(1)
                                                                        ].join('\n')
                                                                    } else {
                                                                        return [
                                                                            '{b|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' + params.slice(1)
                                                                        ].join('\n')
                                                                    }
                                                                }
                                                            },
                                                            data: yData
                                                        },
                                                        geo: {
                                                            // roam: true,
                                                            map: 'china',
                                                            left: 'left',
                                                            right: '300',
                                                            // layoutSize: '80%',
                                                            label: {
                                                                emphasis: {
                                                                    show: false
                                                                }
                                                            },
                                                            itemStyle: {
                                                                emphasis: {
                                                                    areaColor: '#fff464'
                                                                }
                                                            }
                                                        },
                                                        series: [{
                                                            name: 'mapSer',
                                                            type: 'map',
                                                            roam: false,
                                                            geoIndex: 0,
                                                            label: {
                                                                show: false,
                                                            },
                                                            data: data
                                                        }, {
                                                            name: 'barSer',
                                                            type: 'bar',
                                                            roam: false,
                                                            visualMap: false,
                                                            zlevel: 2,
                                                            barMaxWidth: 8,
                                                            barGap: 0,
                                                            itemStyle: {
                                                                normal: {
                                                                    color: function (params) {
                                                                        // build a color map as your need.
                                                                        var colorList = [{
                                                                            colorStops: [{
                                                                                offset: 0,
                                                                                color: '#FFD119' // 0% 处的颜色
                                                                            }, {
                                                                                offset: 1,
                                                                                color: '#FFAC4C' // 100% 处的颜色
                                                                            }]
                                                                        },
                                                                            {
                                                                                colorStops: [{
                                                                                    offset: 0,
                                                                                    color: '#00C0FA' // 0% 处的颜色
                                                                                }, {
                                                                                    offset: 1,
                                                                                    color: '#2F95FA' // 100% 处的颜色
                                                                                }]
                                                                            }
                                                                        ];
                                                                        if (params.dataIndex < 3) {
                                                                            return colorList[0]
                                                                        } else {
                                                                            return colorList[1]
                                                                        }
                                                                    },
                                                                    barBorderRadius: 15
                                                                }
                                                            },
                                                            data: barData
                                                        }]
                                                    };

                                                    // 使用刚指定的配置项和数据显示图表。
                                                    myChart4.setOption(option);
                                                }
                                            }
                                        );


                                    </script>
                                </div>
                            </div>
                            <!-- /# container-fluid -->
                        </div>
                        <!-- /# main -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>


<!-- /# content wrap -->
<script src="/assets/js/lib/jquery.min.js"></script>
<!-- jquery vendor -->
<script src="/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/assets/js/lib/sidebar.js"></script>
<!-- sidebar -->
<script src="/assets/js/lib/bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="/assets/js/lib/mmc-common.js"></script>
<script src="/assets/js/lib/mmc-chat.js"></script>
<!--  Chart js -->
<script src="/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/assets/js/lib/chart-js/chartjs-init.js"></script>
<!-- // Chart js -->
<!--  Datamap -->
<script src="/assets/js/lib/datamap/d3.min.js"></script>
<script src="/assets/js/lib/datamap/topojson.js"></script>
<script src="/assets/js/lib/datamap/datamaps.world.min.js"></script>
<script src="/assets/js/lib/datamap/datamap-init.js"></script>
<script src="/assets/lib/lobipanel/js/lobipanel.js"></script>
<!-- // Datamap -->
<script src="/assets/js/scripts.js"></script>
<!-- scripit init-->
<script>
    $(document).ready(function () {
        $('#lobipanel-custom-control').lobiPanel({
            reload: false,
            close: false,
            editTitle: false
        });
    });
</script>
</html>